/.TheoryDescriptionLabelProvider.java._trace
/.TheoryLabelProvider.java._trace
/.TheoryDescriptionLabelProvider.xtendbin
/.TheoryLabelProvider.xtendbin
/TheoryDescriptionLabelProvider.java
/TheoryLabelProvider.java
